src/test/resources/example2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:tns="http://www.teknocrat.com/WebServiceOne/"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WebServiceOne"
targetNamespace="http://www.teknocrat.com/WebServiceOne/">
    <wsdl:types>

    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.teknocrat.com/WebServiceOne/">
    <xsd:element name="WebServiceOneOperation">
        <xsd:complextype>
            <xsd:sequence> 

                <xsd:element name="in" type="xsd:string"></xsd:element>
            </xsd:sequence>
        </xsd:complextype>
    </xsd:element>
    <xsd:element name="WebServiceOneOperationResponse">
        <xsd:complextype>
            <xsd:sequence> 

                <xsd:element name="out" type="xsd:string"></xsd:element>
            </xsd:sequence>
        </xsd:complextype>
    </xsd:element></xsd:schema></wsdl:types>
    <wsdl:message name="WebServiceOneOperationRequest">
        <wsdl:part name="parameters" element="tns:WebServiceOneOperation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="WebServiceOneOperationResponse">
        <wsdl:part name="parameters" element="tns:WebServiceOneOperationResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="WebServiceOnePortType">
        <wsdl:operation name="WebServiceOneOperation">
            <wsdl:input message="tns:WebServiceOneOperationRequest"></wsdl:input>
            <wsdl:output message="tns:WebServiceOneOperationResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WebServiceOneBinding" type="tns:WebServiceOnePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="WebServiceOneOperation">
            <soap:operation soapaction="http://www.teknocrat.com/WebServiceOne/WebServiceOneOperation" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WebServiceOne">
        <wsdl:port name="WebServiceOnePort" binding="tns:WebServiceOneBinding">
            <soap:address location="http://www.teknocrat.com/" />
        </wsdl:port>
    </wsdl:service></wsdl:definitions>